body {
  min-width: 600px;
}

#dark {
  background-image: url("../images/bg-desktop-dark.jpg");
}

#light {
  background-image: url("../images/bg-desktop-light.jpg");
}

.main {
  padding: 5% 25%;
}

.toggle {
  background-position: calc(100% - 2px) calc(50% + 1px);
}

.toggle:checked {
  background-position: calc(0% + 2px) calc(50% + 1px);
}